body, html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

/*BASIC GRID LAYOUT from: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid*/

.grid-container {
	max-width: 800px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: #fff;
	padding: 10px;
}

.grid-item {
	background-color: #e9e1a5;
	border: 1px solid #000;
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

/*BASIC GRID LAYOUT END*/

.restart-button {
	width: 200px;
	margin: 10px;
	padding: 10px;
	border: solid 6px #639fb6;
	border-radius: 8px;
	background-color: #fff;
}

.info-list {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 20px 0px 20px 0px;
	text-align: center;
}