body, html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: Jua;
	font-size: 14px;
	color: #58595b;
}

header, 
aside,
main, 
div,
footer {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */

.header {
	width: 100%;
	text-align: center;
}

.header-name {
	text-transform: lowercase;
	font-weight: 500;
	font-size: 36px;
	margin: 10px 30px 0px 0px;
	display: inline-block;
	color: #58595b;
}

.header-sub {
	text-transform: lowercase;
	font-weight: 100;
	font-size: 28px;
	margin: 0px 30px 10px 0px;
	display: block;
	color: #58595b;
}

/* Aside */

/* Vertical Side Bar - START
* URL: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
* Used some of the code here to manipulate flex properties for the side bar
*/

.wrapper {
	display: flex;
	flex-flow: row wrap;
}

.game-info {
	order: 1;
	display: flex;
	width: 20%;
}

#main {
	width: 80%;
	order: 2;
}

.footer {
	width: 100%;
	flex-shrink: 0;
	order: 3;
}

/* Vertical Side Bar - END */

.sidebar {
	width: 100%;
	text-align: center;
	margin-top: -20px;
}

.info-list {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.timer,
.stars,
.moves {
	text-align: center;
	width: 150px;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	border: solid 6px #7493cf;
	border-radius: 8px;
	background-color: #fff;
}

.one-star,
.two-stars {
	display: none;
}

.one-star img,
.two-stars img,
.three-stars img {
	width: 20px;
}

.restart-button {
	text-align: center;
	width: 150px;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	border: solid 6px #7493cf;
	border-radius: 8px;
	background-color: #fff
}

/* Main */

/* Basic Grid Layout from:
*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid
*/

.grid-container {
	max-width: 620px;
	display: grid;
	grid-template-rows: 150px 150px 150px 150px ;
	grid-template-columns: 150px 150px 150px 150px ;
	background: linear-gradient(to bottom left, #CFBAE1, #97F9F9, #A4DEF9, #C1E0F7);
	border-radius: 10px;
	padding: 10px;
}

.grid-item {
	background-color: #809BCE;
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
}

.card-item {
	width: 100%;
	height: 100%;
	background-color: #7493cf;
	border-radius: 10px;
	display: none;

}

.card-item img {
	width: 80%;
	max-height: 80%;
	margin-top: 13px;
}

/*Basic Grid Layout - END*/

/* Modal - START
* URL: https://www.w3schools.com/howto/howto_css_modals.asp
* Used code to figure out modal back drop code and modal code structure
*/

/* Modal Backdrop */

.modal-backdrop {
	display: none;
	position: fixed;
	z-index: 1; /* sits on top */
	padding: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fff;
	font-size: 16px;
	text-align: center;
	margin: auto;
	padding: 5px 15px 20px 10px;
	border-radius: 15px;
	width: 70%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #7493cf;
	text-decoration: none;
	cursor: pointer;
}

.congrats {
	font-size: 20px;
	color: #7493cf;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.moves-final,
.stars-final {
	font-weight: bold;
	color: #7493cf;
}

.replay-button {
	display: inline-block;
	font-family: Jua;
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 100px;
	margin: 0px;
	padding: 10px;
	border: solid 1px #7493cf;
	border-radius: 8px;
	background-color: #7493cf;
}

/* Modal - END */

/* Footer */

.footer {
	text-align: left;
}