body, html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: Jua;
	font-size: 16px;
	color: #58595b;
}

header, 
aside,
main, 
div,
footer {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

/* header */

.header {
	width: 100%;
	text-align: center;
}

.header-name {
	text-transform: lowercase;
	font-weight: 500;
	font-size: 36px;
	margin: 10px 30px 0px 0px;
	display: inline-block;
	color: #58595b;
}

.header-sub {
	text-transform: lowercase;
	font-weight: 100;
	font-size: 28px;
	margin: 0px 30px 10px 0px;
	display: block;
	color: #58595b;
}

/* aside */

/* vertical side bar - START
* URL: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
* used some of the code here to manipulate flex properties for the side bar
*/

.wrapper {
	display: flex;
	flex-flow: row wrap;
}

.game-info {
	order: 1;
	display: flex;
	width: 20%;
}

.main {
	width: 80%;
	order: 2;
}

.footer {
	width: 100%;
	flex-shrink: 0;
	order: 3;
}

/* vertical side bar - END */


.sidebar {
	width: 100%;
	text-align: center;
	margin-top: -20px;
}

.info-list {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.timer,
.stars,
.moves,
.restart-button {
	text-align: center;
	width: 150px;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	border: solid 6px #7493cf;
	border-radius: 8px;
	background-color: #fff;
}

.one-star,
.two-stars {
	display: none;
}

.one-star img,
.two-stars img,
.three-stars img {
	width: 20px;
}

/* main */

/* basic grid layout - START
* URL: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid
*/

.grid-container {
	max-width: 620px;
	display: grid;
	grid-template-rows: 150px 150px 150px 150px ;
	grid-template-columns: 150px 150px 150px 150px ;
	background: linear-gradient(to bottom left, #CFBAE1, #97F9F9, #A4DEF9, #C1E0F7);
	border-radius: 10px;
	padding: 10px;
}

.grid-item {
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	margin: 10px;
}

.card-front {
	width: 100%;
	height: 100%;
	background-color: #809BCE;
	border-radius: 10px;
}

.card-back {
	width: 100%;
	height: 100%;
	background-color: #7493cf;
	border-radius: 10px;
}

.card-back img {
	width: 80%;
	max-height: 80%;
	margin-top: 13px;
}

/* basic grid layout - END */


/* card flip animation - START
* URL: https://davidwalsh.name/css-flip
* used for flip animation foundation */

/* entire container, keeps perspective */
.grid-item {
	perspective: 1000px;
}

/* flip speed */
.flipper {
	width: 100%;
	height: 100%;
	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	position: relative;
}

/* hide back of pane during swap */
.card-front, .card-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.card-front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.card-back {
	transform: rotateY(180deg);
}

/* card flip animation - END */


/* modal - START
* URL: https://www.w3schools.com/howto/howto_css_modals.asp
* used code to figure out modal back drop code and modal code structure
*/

.modal-backdrop {
	display: none;
	position: fixed;
	z-index: 1;
	padding: 200px 0px 0px 0px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fff;
	font-size: 16px;
	text-align: center;
	margin: auto;
	padding: 5px 15px 20px 10px;
	border-radius: 15px;
	width: 70%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #7493cf;
	text-decoration: none;
	cursor: pointer;
}

.congrats {
	font-size: 20px;
	color: #7493cf;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.moves-final,
.stars-final,
.timer-final {
	font-weight: bold;
	color: #7493cf;
}

.replay-button {
	display: inline-block;
	font-family: Jua;
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 100px;
	margin: 0px;
	padding: 10px;
	border: solid 1px #7493cf;
	border-radius: 8px;
	background-color: #7493cf;
}

/* modal - END */


/* footer */

.footer {
	text-align: center;
}